@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    <input type="text" name="URL" placeholder="url" />
    <button type="submit">
        Submit URL
    </button>
</form>

<div>
    <p>
        @Model.NewUrl
    </p>
</div>